html, body{
    margin: 0;
    padding: 0;
}





.menu_conteiner{
    display: flex;
    justify-content: space-around;

    position: relative;

    width: 100%;
    height: 50px;

    background-color: #C4C4C4;
}
.menu_list{
    display: flex;
    flex-direction: row;

    position: relative;

    width: 600px;
    height: 100%;
}
.list_item{
    width: 150px;
    height: 35px;

    color: #000;

    padding-top: 15px;

    text-align: center;
    font-weight: bold;
    
    border-left: 1px solid #000;
}
.events{
    display: flex;
    flex-direction: row;
    justify-content: center;

    border-right: 1px solid #000;
}
.events p{
    margin: 0;
    padding-left: 5px;
}
.event_counter{
    width: 25px;
    height: 22px;

    padding-top: 3px;
    color: #000;

    border-radius: 50%;
    background-color: red;
}




.set_conteiner{
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    position: relative;
    top: 10px;
    left: 5%;

    width: 90%;
    height: 35px;
}
.create_btn_block{
    width: 150px;
    height: 35px;

    background-color: #005488;
}
.filter_conteiner{
    display: flex;
    flex-direction: row;

    width: 450px;
    height: 35px;
}
.filter_block{
    width: 150px;
    height: 30px;

    padding-top: 5px;

    text-align: center;
}
.actual{
    border-bottom: 2px solid green;
}
.paused{
    border-bottom: 2px solid red;
}
.delayed{
    border-bottom: 2px solid orange;
}
.create_btn{
    width: 100%;
    height: 100%;

    border: none;
    background-color: #005488;

    color: #fff;
}


.task_conteiner{
    position: relative;
    top: 50px;
    left: 5%;

    width: 90%;
    height: 35px;
}
.task_block{
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 100%;
}
.task_new_block{
    display: flex;
    flex-direction: column;

    width: 25%;
    height: 700px;
}
.task_today_block{
    display: flex;
    flex-direction: column;

    width: 25%;
    height: 700px;

    margin-left: 10px;
}
.task_tomorrow_block{
    display: flex;
    flex-direction: column;

    width: 25%;
    height: 700px;

    margin-left: 10px;
}
.task_nextWeek_block{
    display: flex;
    flex-direction: column;

    width: 25%;
    height: 700px;

    margin-left: 10px;
}

.status_item{
    width: 100%;
    height: 40px;

    margin-bottom: 15px;

    text-align: center;
    font-weight: bold;
}
.task_block p{
    margin: 0;
}
.new{
    color: #24ADF3;

    border: 2px solid #24ADF3;
    border-right: none;

    background-color: #D1E8F3;
}
.today{
    color: green;

    border: 2px solid green;
    border-right: none;

    background-color: #DFF3DF;
}
.tomorrow{
    color: #006EB2;

    border: 2px solid #006EB2;
    border-right: none;

    background-color: #D4E1F3;
}
.nextWeek{
    color: #005488;

    border: 2px solid #005488;

    background-color: #F9F9F9;
}

.objective_block{
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 70px;

    border: 1px solid #000;
    margin-top: 5px;
}
.upper_block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    height: 35px;
}
.upper_block{
    width: 100%;
    height: 35px;
}
.objective_block h3{
    margin: 10px 0 0 10px; 
    font-weight: bold;
}
.objective_block h5{
    margin: 15px 10px 0 0;
}
.lower_block h5{
    margin: 10px 0 0 10px;
}