html, body{
    margin: 0;
    padding: 0;
}

a{
    color: #fff;
    text-decoration: none;
}
.page_conteiner{
    display: flex;
    flex-direction: row;

    height: 100vh;

    background-color: #ECECEC;
}
.menu_conteiner{
    height: 100%;
    background-color: #014991;
}
.menu_nav_block{
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: center;

    position: relative;
    top: 50%;

    margin-top: -240px;

    width: 60px;
    height: 492px;
    
    
}
.btn_nav{
    width: 60px;
    height: 50px;
    
    padding-top: 30px;

    text-align: center;
    font-size: 12px;

    border-bottom: 1px solid #000;
}
.menu_nav_block:first-child{
    border-top: 1px solid #000;
}


.tasks_conteiner{
    display: flex;
    flex-direction: column;

    width: 100%;
}
.filters_block{
    display: flex;
    flex-direction: row;

    position: relative;
    left: 5%;

    width: 90%;
    height: 60px;

    margin-top: 70px;
    text-align: center;

    border-bottom: 1px solid #000;
}
.filter_opt{
    border-left: 1px solid #000;
}
#choose_all{
    margin: 13px 13px 0 5px;

    width: 25px;
    height: 25px;
}
.filter_opt{
    width: 20%;
}


.list_tasks_block{
    display: flex;
    flex-direction: column;

    position: relative;
    left: 5%;

    width: 90%;
    height: 100%;

    margin-top: 20px;

    text-align: center;
}
.task_block{
    display: flex;
    flex-direction: row;

    background-color: #fff;
    border-radius: 5px;
    border: 1px solid black;

    margin-top: 5px;
}
p{
    font-weight: bold;
}
.info_opt{
    width: 20%;
}
.orange{
    color: #E19E00;
}
.green{
    color: #669900;
}
.red{
    color: #C31622;
}